{% extends "base.html" %}

{% block sidebar %}
{% include "base_sidebar.html" %}
{% endblock %}

{% block content %}
<table class="detaillist">
    <tr><th class="detaillist">Label<th class="detaillist">Description<th class="detaillist">Count<th class="detaillist">
{% for link in data_links%}
    <tr><td class="detaillist"><a href={% url link.urlname %}>{{ link.readable }}</a>
        <td class="detaillist">data description to come here
        <td class="detaillist">xxx
        <td class="detaillist"><a href="{% url link.name|add:'_upload' %}"><img src="/static/upload.png" title="Upload" width=15></a>
{% endfor %}
</table>
{% endblock %}