{% extends "base.html" %}





{% block content %}


<form action="{% url model_name|add:'_create' %}" method="post">
    <h3>{{item_create_heading}}</h3>
    <p>{{ item_create_text }}<input type="text" length="12"  name="label" value="{{ item_label }}"></p>
    <p><input type="submit" value="{{ item_create_confirm }}"></p>
    {% csrf_token %}
</form>
<form action="{% url model_name|add:'_list' %}" method="get">
    <p><input type="submit" value="{{ item_create_reject }}"></p>
</form>

{% endblock %}
